.aboutContainer {
    margin: 1.5rem;   
    
    h3 {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .aboutContainer {
        width: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    .aboutContainer {
        width: 600px;
    }
}

@media only screen and (min-width: 1368px) {
    .aboutContainer {
        width: 700px;
    }
}