@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "IBM Plex Mono", monospace;
  color: #272727;
}

#__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

nav {
  text-align: center;
  padding: 2rem;
}

nav h1 {
  font-size: 2.25rem;
  cursor: pointer;
}

input {
  font-size: 1.25rem;
}

.bold {
  font-weight: 600;
}

.search-bar-container {
  margin: auto;
  width: 300px;
}

.search-bar {
  border: none;
  border-bottom: 1px solid #272727;
  padding: 1rem;
  width: inherit;
}

.word-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 2rem;
}

.word-card-container {
  width: 325px;
  height: 200px;
  border: 1px solid #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
  padding: 2rem;
  cursor: pointer;
}

.word-card-container p {
  font-size: 1.5rem;
}

.word-definition-container {
  border: 1px solid #272727;
  padding: 2rem;
  margin: auto;
  width: 325px;
  min-height: 275px;
}

.word-definition-container h1 {
  font-weight: 400;
}

.other-words-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.other-word-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 500px) {
  .word-card-container {
    width: 400px;
  }
  .word-definition-container {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .word-card-container {
    width: 225px;
  }
  .word-definition-container {
    width: 707px;
    padding: 4rem;
  }
  .other-word-cards-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .word-cards-container {
    width: 1000px;
  }
}

@media screen and (min-width: 1300px) {
  .word-card-container {
    width: 300px;
  }
  .word-definition-container {
    width: 932px;
  }
}
/*# sourceMappingURL=globals.css.map */