@import 'variables';

.formElements {
    border: none;
    background: rgb(238, 238, 238);
    width: 100%;
}

.inputDescription {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .9rem;
    color: rgb(90, 90, 90);
}

.error {
    margin-top: -2rem;
    margin-bottom: 2rem;
    color: red;
}